<app-block-layout *ngIf="!isLoading" top bottom gutter="large" [formGroup]="grantForm">
    <h2>Información de contacto</h2>
    <app-textarea formControlName="contactPhone" placeholder="teléfono(s) de contacto (uno por renglón)" label="Teléfono"></app-textarea>
    <app-text-field formControlName="contactInfo" placeholder="Detalles de contacto" label="Detalles"></app-text-field>
    <h2>Filtros</h2>
    <app-textarea formControlName="filters" placeholder="filtros de búsqueda (uno por renglón)" label="Filtros"></app-textarea>
    <app-button size="small" (click)="onClick()">GUARDAR OFERTA</app-button>
</app-block-layout>