<app-header></app-header>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
<!-- <h2>Nueva Beca / Taller</h2>
<div [formGroup]="grantForm">
  <app-text-field formControlName="title" placeholder="título de la beca / taller" label="título"></app-text-field>
</div>
<br>
<div [formGroup]="organizationForm">
  <h3>Organismo</h3>
  <input type="text" formControlName="name" placeholder="nombre del organismo">
  <input type="text" formControlName="link" placeholder="link del organismo">
</div>
<br>
<div [formGroup]="descriptionForm">
  <h3>Descripción</h3>
  <textarea formControlName="description" cols="30" rows="10" placeholder="descripción de la beca"></textarea>
</div>
<br>
<div [formGroup]="requirementForm">
  <h3>Requisitos</h3>
  <textarea formControlName="requirements" cols="30" rows="10" placeholder="requisitos (uno por renglón)"></textarea>
</div>
<br>
<br>
<div [formGroup]="infoForm">
  <h3>Información</h3>
  <textarea formControlName="when" cols="30" rows="10" placeholder="¿Cuándo se dicta?"></textarea>
  <br>
  <input type="text" formControlName="where" placeholder="donde se dicta?">
  <br>
  <input type="text" formControlName="sector" placeholder="sector del barrio">
  <br>
  <h3>Contacto</h3>
  <textarea formControlName="contactPhone" cols="30" rows="10" placeholder="teléfono(s) de contacto (uno por renglón)"></textarea>
  <br>
  <input type="text" formControlName="contactInfo" placeholder="Detalles de contacto">
</div>
<br>
<div [formGroup]="offerTypeForm">
  <label>
    <input type="radio" value="scholarship" formControlName="offerType">
    <span>Beca</span>
  </label>
  <label>
    <input type="radio" value="workshop" formControlName="offerType">
    <span>Taller</span>
  </label>
</div>

<button (click)="submit()">agregar beca</button> -->
