<div [formGroup]="grantForm">
  <input type="text" formControlName="name" placeholder="nombre de la beca">
</div>
<br>
<div [formGroup]="organizationForm">
  <input type="text" formControlName="name" placeholder="nombre del organismo">
  <input type="text" formControlName="link" placeholder="link del organismo">
</div>
<br>
<div [formGroup]="descriptionForm">
  <textarea formControlName="description" cols="30" rows="10" placeholder="descripción de la beca"></textarea>
</div>
<br>
<button (click)="addRequirement()">agregar requisito</button>
<div [formGroup]="requirementForm">
  <input *ngFor="let req of getKeys(requirementForm.controls)" type="text" [formControlName]="req" placeholder="requisitos de la beca">
</div>
<br>
<button (click)="addSignupStep()">agregar paso para inscribirse</button>
<div [formGroup]="signupTypeForm">
  <select *ngFor="let sig of getKeys(signupTypeForm.controls); let i = index" [formControlName]="sig">
    <option value="list">lista</option>
    <option value="paragraph">parrafo</option>
  </select>
</div>
<div [formGroup]="signupForm">
  <ng-container *ngFor="let sig of getKeys(signupForm.controls); let i = index">
    <textarea *ngIf="isParagraph(i)" [formControlName]="sig" cols="30" rows="10" placeholder="pasos para inscribirse"></textarea>
    <div *ngIf="isList(i)" [formGroup]="getFormGroup(i)">
      <button (click)="addListItem(i)">agregar item</button>
      <input *ngFor="let step of getKeysSpecial(sig)" type="text" [formControlName]="step" placeholder="requisitos de la beca">
    </div>
  </ng-container>
  <br>
</div>
<br>
<div [formGroup]="infoForm">
  <input type="text" formControlName="signupDate" placeholder="plazos para inscribirse">
  <input type="text" formControlName="link" placeholder="link a la beca">
  <input type="date" formControlName="expirationDate" placeholder="fecha de vencimiento">
</div>

<button (click)="submit()">agregar beca</button>
