<div class="home">
    <h1 class="home__title">Becas Disponibles</h1>
    <div class="home__card-container">
        <app-offers-card *ngFor="let card of scholarships" [title]="card.title" [description]="card.organization"></app-offers-card>
        <app-offers-card [seeMore]="true" (click)="seeMore('scholarships')"></app-offers-card>
    </div>
    <h1 class="home__title">Talleres Disponibles</h1>
    <div class="home__card-container">
        <app-offers-card *ngFor="let card of workshops" [title]="card.title" [description]="card.organization"></app-offers-card>
        <app-offers-card [seeMore]="true" (click)="seeMore('workshops')"></app-offers-card>
    </div>
    <div class="home__button-container">
        <app-button-icon (click)="goToNewOffer()" icon="add"></app-button-icon>
    </div>
</div>