<app-layout-container>
    <app-block-layout top gutter="large">
        <h2>Nueva Beca / Taller</h2>
        <div [formGroup]="grantForm">
            <app-text-field type="text" formControlName="title" placeholder="título de la beca / taller" label="Título"></app-text-field>
        </div>
        <div [formGroup]="organizationForm">
            <app-block-layout>
                <h3>Organismo</h3>
                <app-text-field type="text" formControlName="name" placeholder="nombre del organismo" label="Nombre"></app-text-field>
                <app-text-field type="text" formControlName="name" placeholder="nombre del organismo" label="Link"></app-text-field>
            </app-block-layout>
        </div>
        <div [formGroup]="descriptionForm">
            <app-block-layout>
                <h3>Descripción</h3>
                <textarea formControlName="description" cols="30" rows="10" placeholder="descripción de la beca"></textarea>
            </app-block-layout>
        </div>
        <app-button (click)="onClick()">SIGUIENTE</app-button>
    </app-block-layout>
</app-layout-container>
